body{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}


details{
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: rgb(195, 228, 240); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-items: center;
}

summary{
    text-indent: 10px;
    /* background-color: rgb(75, 148, 177); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-group{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;

}

.buttons > .btn {
    margin-right: 15px;
}

.single-line{
    
}
