body{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}


details{
    margin-top: 10px;
    /* background-color: rgb(195, 228, 240); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-items: center;

}

summary{
    text-indent: 10px;
    /* background-color: rgb(75, 148, 177); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 1rem;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;

}

.buttons > .btn {
    margin-right: 15px;
}

.direction{
    display: flex;
    flex-direction: row;
}

.direction :nth-child(1){
    width: 10%;
    text-align: center;
}

.btn-warning{

}

.btn-success{

}