@model DirectionView

@using (Html.BeginForm())
{
    <div class="form-group direction">
        @Html.TextBoxFor(model => model.Index, null, new { @class = "form-control" })
        @Html.TextBoxFor(model => model.Value, null, new { @class = "form-control" })
    </div>
}
