@model List<double>

<details open>
    <summary>Точка</summary>
    <div>
        <label>X<sup>i</sup> = {</label>
    </div>
    <div>
        @for (var i = 0; i < Model.Count; i++)
        {
        <div class="form-group">
            @Html.LabelFor(model => model[i] , new { @class = "control-label" })
            @Html.TextBoxFor(model => model[i], null, new { @id="X_"+i, @class = "form-control", @placeholder = "X["+i+"]" })
        </div>
        }
    </div>
    <div>
        }
    </div>
</details>





