@model List<double>
@{
    ViewData["Title"] = "Начальная точка";
    Layout = "_Layout";
}

<form method="post">
    <div>
        <label>X<sup>0</sup> = {</label>
    </div>
    <div>
        @for (var i = 0; i < Model.Count; i++)
        {
        <div class="form-group">
            <input name="Point" id=X_@i type="text" class="form-control" placeholder="x[@i]" value="@Model[i]">
        </div>
        }
    </div>
    <div>
        }
    </div>
    <button type="button" class="btn btn-warning">Случайные</button>
    <button type="submit" class="btn btn-success">Применить</button>
</form>




