@model List<double>
@{
    ViewData["Title"] = "Начальная точка";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)

    <h5>@ViewData["Title"]</h5>
    @Html.Partial("Partial/_Point", Model)

    <div class="buttons">
        <button type="button" class="btn btn-warning">Случайные</button>
        <button type="submit" class="btn btn-success">Применить</button>
    </div>

}